$body-bg:                                     #fdfdfd;
$body-color:                                  #656565;
$font-size-base:                              0.98rem;
$font-family-base:                            'Open Sans', sans-serif;
$enable-responsive-font-sizes:                true;
$enable-prefers-reduced-motion-media-query:   false;