/* Global */
$body-bg:                                     #fdfdfd;
$body-color:                                  #656565;
$font-size-base:                              0.98rem;
$font-family-base:                            'Open Sans', sans-serif;
$enable-responsive-font-sizes:                true;
$enable-prefers-reduced-motion-media-query:   false;

/* Primary Color */
$primary:                           #438cad;

/* Navbar */
$navbar-padding-y:                  0;

/* Sidebars */
$lefSidebar-bg:                     #f5f5f5;
$rightSidebar-bg:                   #f5f5f5;

/* Cards */
$card-border-radius:                0;

/* User */
$user-name-color:                   #fff;
$user-name-bg:                      $primary;
$user-name-ff:                      'Roboto Condensed', sans-serif;
$user-name-size:                    1.1rem;
$user-av-border-color:              $primary;